* {
    margin: 0 auto;
}

.navigathion {
    width: 100%;
    height: 130px;
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    height: 100px;
    top: 0px;
    justify-content: space-between;
    position: absolute;
}

.nav2 {
    display: flex;
    margin: left 900px;
}

.rainbow {
    background-color: #343A40;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 10px;
    padding-top: 10px;
    font-size: 20px;
    height: 10px;
    width: 100px;
    position: relative;
    top: 38px;
    text-align: center;
    right: 80px;
}

.rainbow-1:hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 5s linear infinite;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.t {
    position: relative;
    top: -6px;
    font-size: 19px;
}

.follow {
    margin-top: 40px;
}

.follow a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.text0 {
    position: relative;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: 90% -webkit-linear-gradient(rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    position: relative;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 10px;
    text-decoration: none;
    color: black;
}

.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    position: relative;
    top: 30px;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
    top: 30px;
}

.dropdown-content a {
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropdown-content a:hover {
    background-color: rgb(252, 252, 252);
    background: 90% -webkit-linear-gradient(rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff;
    background: 90% -webkit-linear-gradient(rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.iconca {
    top: 30px;
    margin-left: 90px;
    position: relative;
    width: 170px;
    height: 50px;
    left: -200px;
}

.box1 {
    width: 100%;
    height: 750px;
    background-color: rgb(216, 238, 238);
}

.box01 {
    width: 1100px;
    height: 500px;
    background-color: rgba(137, 43, 226, 0);
    position: relative;
    top: 140px;
}

.text1 {
    width: 550px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    background-color: rgb(216, 238, 238);
    right: 270px;
}

.foto1 {
    width: 550px;
    height: 500px;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    left: 280px;
    top: -450px;
}

.my_foto {
    width: 500px;
    height: 500px;
    position: relative;
    left: px;
    top: -50px;
}

.This_is_me {
    position: relative;
    top: 20px;
    color: black;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 20px;
}

.Philip_Gilbert {
    position: relative;
    top: 50px;
    color: black;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 20px;
}

.You_will {
    font-size: 15px;
    top: 60px;
    position: relative;
    color: grey;
    font-family: 'Open Sans Condensed', sans-serif;
    left: 20px;
}

.battom1 {
    position: relative;
    text-decoration: none;
    width: 150px;
    height: 30px;
    top: 210px;
    left: 20px;
    background: linear-gradient(90deg, rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    border: solid #e07be000;
    border-radius: 0%;
    position: absolute;
    color: rgb(247, 247, 247);
    text-decoration: none;
    text-align: center;
}

.battom1:hover {
    position: relative;
    text-decoration: none;
    width: 150px;
    height: 30px;
    background: linear-gradient(90deg, rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    box-shadow: rgba(75, 75, 73, 0.452) 10px 20px 20px;
    top: 210px;
    left: 20px;
    border: solid #f076e000;
    border-radius: 0%;
    position: absolute;
    color: rgb(250, 244, 244);
    text-decoration: none;
    text-align: center;
}

.box2 {
    width: 100%;
    height: 710px;
    background-color: rgba(205, 228, 221, 0.904);
}

.text2 {
    width: 550px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    background-color: rgba(205, 228, 221, 0.753);
    right: -280px;
}

.About_Me {
    position: relative;
    top: 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 20px;
}

.Philip_Gilbert2 {
    position: relative;
    top: 50px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 20px;
}

.You_will2 {
    font-size: 15px;
    top: 60px;
    position: relative;
    color: rgb(114, 114, 114);
    font-family: 'Open Sans Condensed', sans-serif;
    left: 20px;
}

.foto2 {
    width: 550px;
    height: 500px;
    position: relative;
    background-color: rgba(42, 147, 165, 0);
    left: -270px;
    top: -500px;
}

.my_foto2 {
    position: relative;
    width: 500px;
    height: 570px;
    left: 30px;
    top: -60px;
}

.battom2 {
    position: relative;
    text-decoration: none;
    width: 150px;
    height: 30px;
    top: 240px;
    left: 20px;
    border: solid #f56dc100;
    border-radius: 0%;
    position: absolute;
    color: rgb(245, 249, 250);
    text-decoration: none;
    text-align: center;
    background: linear-gradient(90deg, rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
}

.battom2:hover {
    position: relative;
    text-decoration: none;
    width: 150px;
    height: 30px;
    box-shadow: rgba(75, 75, 73, 0.445) 10px 20px 20px;
    top: 240px;
    left: 20px;
    border: solid #e994e900;
    border-radius: 0%;
    position: absolute;
    color: rgb(253, 253, 253);
    text-decoration: none;
    text-align: center;
    background: linear-gradient(90deg, rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
}

.Discover {
    position: relative;
    font-size: 19px;
    top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box3 {
    width: 100%;
    height: 12 50px;
    background-color: rgb(251, 255, 255);
}

.container {
    width: 1400px;
    height: 900px;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
}

.textBox3 {
    width: 750px;
    height: 170px;
    background-color: rgb(250, 255, 255);
    position: relative;
    top: 20px;
}

.box3Text1 {
    position: relative;
    top: 20px;
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box3Text2 {
    position: relative;
    top: 40px;
    color: rgb(126, 125, 125);
    font-size: 19px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row {
    position: relative;
    justify-content: center;
    width: 1100px;
    height: 600px;
    background-color: rgb(251, 251, 255);
    top: 30px;
}

.row1 {
    width: 366px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    right: 33%;
    position: relative;
}

.textro1 {
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    top: 20px;
    position: relative;
}

.fa-chart-pie {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
}

.fa-chart-pie:hover {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
    background: 90% -webkit-linear-gradient(rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.web {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    top: 25px;
    font-family: 'Noto Sans TC', sans-serif;
}

.web:hover {
    font-size: 20px;
    color: linear-gradient(90deg, rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    text-align: center;
    position: relative;
    top: 25px;
    background: 90% -webkit-linear-gradient(rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.It {
    width: 320px;
    height: 100px;
    position: relative;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: darkgray;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    top: -25px;
}

.row2 {
    width: 366px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    right: 33%;
    position: relative;
    top: -300px;
    left: 0px;
}

.textro2 {
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    top: 20px;
    position: relative;
}

.fa-laptop {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
}

.fa-laptop:hover {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
    background: 90% -webkit-linear-gradient(rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row3 {
    width: 366px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    right: 33%;
    position: relative;
    top: -600px;
    left: 366px;
}

.textro3 {
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    top: 20px;
    position: relative;
}

.fa-camera {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
}

.fa-camera:hover {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
    background: 90% -webkit-linear-gradient(rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Do {
    width: 320px;
    height: 100px;
    position: relative;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: darkgray;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    top: -25px;
}

.row4 {
    width: 366px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    right: 33%;
    position: relative;
    top: -600px;
    left: -363px;
}

.textro4 {
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    top: 20px;
    position: relative;
}

.fa-image {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
}

.fa-image:hover {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
    background: 90% -webkit-linear-gradient(rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row5 {
    width: 366px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    right: 33%;
    position: relative;
    top: -900px;
    left: 0px;
}

.textro5 {
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    top: 20px;
    position: relative;
}

.fa-tablet-alt {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
}

.fa-tablet-alt:hover {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
    background: 90% -webkit-linear-gradient(rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row6 {
    width: 366px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    right: 33%;
    position: relative;
    top: -1200px;
    left: 366px;
}

.textro6 {
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    top: 20px;
    position: relative;
}

.fa-node-js {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
}

.fa-node-js:hover {
    position: relative;
    top: 0px;
    left: 135px;
    font-size: 34px;
    background: 90% -webkit-linear-gradient(rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box4 {
    height: 1000px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    position: relative;
    top: -90px;
}

.conteyner2 {
    width: 1400px;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    position: relative;
}

.textxBox4 {
    width: 600px;
    height: 150px;
    background-color: rgb(254, 255, 251);
    text-align: center;
}

.box4text1 {
    font-size: 30px;
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    position: relative;
    top: 80px;
}

.myProgects {
    width: 1240px;
    height: 800px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

.navigathion2 {
    width: 600px;
    height: 130px;
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    top: 150px;
    justify-content: space-between;
    position: absolute;
    left: 400px;
}

.nav02 {
    display: flex;
    margin: left 0px;
}

.VECTOR {
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 10px;
    text-decoration: none;
    color: rgb(149, 204, 221);
}

.RASTER,
.UIUX,
.PRINTING,
.All {
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 10px;
    text-decoration: none;
    color: black;
}

.RASTER:hover,
.UIUX:hover,
.PRINTING:hover,
.All:hover {
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 10px;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: #000000;
    font-weight: normal;
    text-decoration: underline solid rgb(68, 68, 68) 2px;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.myProgects01 {
    width: 1240px;
    height: 700px;
    background-color: rgb(252, 252, 252);
    top: 100px;
    position: relative;
    justify-content: center;
}

.myP1 {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    right: 420px;
}

.foto_P1 {
    text-decoration: none;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-image: url(./img/img/Снимок.JPG3.JPG), linear-gradient(45deg, #534ea1, #704669);
    background-position: center center;
}

.foto_P1:hover {
    text-decoration: none;
    border: rgba(128, 128, 0, 0) 2px solid;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-blend-mode: overlay;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.httr {
    position: relative;
    text-decoration: none;
    border: 3px rgba(255, 254, 254, 0.664) solid;
    background-color: rgba(255, 255, 0, 0);
    width: 90px;
    height: 90px;
    border-radius: 100px;
    position: absolute;
    text-align: center;
    top: 120px;
    left: 120px;
    transform: rotateY(100px);
    opacity: 0;
}

.httr:hover {
    transform: rotateY(0px);
    opacity: 1;
}

.fa-binoculars {
    font-size: 65px;
    color: rgba(245, 245, 245, 0.719);
    position: relative;
    top: 8px;
    background-color: rgba(245, 245, 245, 0);
    text-shadow: 0 0 10px #ffffffa8;
}

.mi_text1 {
    position: relative;
    width: 320px;
    height: 70px;
    background-color: rgba(250, 249, 248, 0);
    text-align: center;
}

.my_h1 {
    color: rgb(0, 60, 0);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 15px;
}

.myP2 {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    right: -0px;
    top: -400px;
}

.foto_P2 {
    text-decoration: none;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-image: url(./img/img/Снимок.JPG), linear-gradient(45deg, #534ea1, #704669);
    background-position: center center;
}

.foto_P2:hover {
    text-decoration: none;
    border: rgba(128, 128, 0, 0) 2px solid;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-blend-mode: overlay;
    background-blend-mode: overlay;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.myP3 {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    right: -420px;
    top: -800px;
}

.foto_P3 {
    text-decoration: none;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-image: url(./img/img/Снимокpogoda.JPG), linear-gradient(45deg, #534ea1, #704669);
    background-position: center center;
}

.foto_P3:hover {
    text-decoration: none;
    border: rgba(128, 128, 0, 0) 2px solid;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-blend-mode: overlay;
    background-blend-mode: overlay;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.myP4 {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    right: -420px;
    top: -800px;
}

.foto_P4 {
    text-decoration: none;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-image: url(./img/img/Снимокpppp.JPG), linear-gradient(45deg, #534ea1, #704669);
    background-position: center center;
}

.foto_P4:hover {
    text-decoration: none;
    border: rgba(128, 128, 0, 0) 2px solid;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-blend-mode: overlay;
    background-blend-mode: overlay;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.myP5 {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    right: 0px;
    top: -1200px;
}

.foto_P5 {
    text-decoration: none;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-image: url(./img/img/Снимокфтфка.JPG), linear-gradient(45deg, #534ea1, #704669);
    background-position: center center;
}

.foto_P5:hover {
    text-decoration: none;
    border: rgba(128, 128, 0, 0) 2px solid;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-blend-mode: overlay;
    background-blend-mode: overlay;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.myP6 {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    right: 420px;
    top: -1600px;
}

.foto_P6 {
    text-decoration: none;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-image: url(./img/img/Снимокjs.JPG), linear-gradient(45deg, #534ea1, #704669);
    background-position: center center;
}

.foto_P6:hover {
    text-decoration: none;
    border: rgba(128, 128, 0, 0) 2px solid;
    width: 330px;
    height: 330px;
    border-radius: 5%;
    background-blend-mode: overlay;
    background-blend-mode: overlay;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.box6 {
    width: 100%;
    height: 540px;
    background-color: black;
}

.h1-box6 {
    color: #ebeffa;
}

.h2-box6 {
    color: aliceblue;
}

.box006 {
    width: 1200px;
    display: flex;
    position: relative;
    top: 200px;
}

.h1-box6 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: -50px;
}

.h2-box6 {
    font-family: "Quicksand", sans-serif;
    color: rgb(128, 124, 124);
    font-size: 14px;
}

.h2-box62 {
    font-family: "Quicksand", sans-serif;
    color: rgb(128, 124, 124);
    font-size: 14px;
    position: relative;
    top: 20px;
}

.a-box6 {
    text-decoration: none;
    position: relative;
    top: -18px;
    margin-left: 20px;
}

.Colorlib {
    font-size: 14px;
    color: #7ea1ff;
    margin-left: 30px;
}


/*reeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeerrrrrrrrrrrrrrrrrrr*/

.box5 {
    position: relative;
    top: -90px;
    width: 100%;
    height: 500px;
    background-color: #FFCF00;
    background: linear-gradient(90deg, rgba(176, 242, 219, 1) 16%, rgba(199, 255, 184, 1) 64%, rgba(255, 171, 185, 1) 100%);
}

.some_foto {
    position: relative;
    text-align: center;
    font-size: 40px;
    top: 30px;
    font-family: "Quicksand", sans-serif;
    color: #bc2e1e;
    text-shadow: 0 1px 0px #98b9c9, 1px 0 0px #7fa3b3, 1px 2px 1px #c9dee9, 2px 1px 1px #9fb4bd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
}


/* Слайдер: */

.slider {
    max-width: 700px;
    /* Положение элемента устанавливается относительно его исходной позиции: */
    position: relative;
    /* Центрируем по горизонтали: */
    margin: auto;
    height: 100px;
    z-index: 1;
    top: 100px;
    border-radius: 1px;
}


/* Картинка масштабируется по отношению к родительскому элементу: */

.slider .item img {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
    object-fit: cover;
    width: 100%;
    height: 90%;
}


/* Кнопки назад и вперёд: */

.slider .previous,
.slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* При наведении курсора на кнопки добавляем фон кнопок: */

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


/* Анимация слайдов: */

.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}


/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 500px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: block;
    position: relative;
    top: 200px;
    left: 0px;
    overflow: hidden;
    text-shadow: 0 0 rgb(212, 71, 255), 0 0 yellowgreen, 0 0 skyblue;
    color: transparent;
    transition: all 1s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
    display: block;
    background: 90% -webkit-linear-gradient(rgba(154, 127, 244, 1) 16%, rgba(140, 225, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -400px 0 rgb(203, 71, 255), 400px 0 yellowgreen, 0 0 skyblue;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    line-height: 23px;
    background-color: white;
    display: none;
    overflow: hidden;
    display: block;
    top: 200px;
    position: relative;
    left: 30px;
    background: 90% -webkit-linear-gradient(rgb(214, 183, 80) 16%, rgb(103, 202, 133) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02799';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}