.name {
    width: 200px;
    height: 20px;
    background-color: rgb(207, 160, 229);
    border-radius: 20xp 20px 20px 20px;
    border: blueviolet 2px dotted;
    box-shadow: 13px 12px rgb(156, 150, 150);
}

.name:hover {
    background-color: royalblue;
}

.nams {
    width: 200px;
    height: 20px;
    background-color: rgb(118, 243, 69);
    border-radius: 20xp 20px 20px 20px;
    border: rgb(226, 192, 43) 2px dotted;
    box-shadow: 13px 12px rgb(156, 150, 150);
}

.nams:hover {
    background-color: royalblue;
}

.tera {
    width: 200px;
    height: 20px;
    background-color: salmon;
    border: seagreen 2px dotted;
    box-shadow: 13px 12px rgb(156, 150, 150);
}

.tera:hover {
    background-color: royalblue;
}

.cartinca1 {
    width: 300px;
    height: 300px;
    background-color: rgb(207, 160, 229);
    border-radius: 20xp 20px 20px 20px;
    border: blueviolet 2px dotted;
    box-shadow: 13px 12px rgb(156, 150, 150);
}

* {
    margin-bottom: 20px;
    margin-left: 30px;
}

.cartinca2 {
    width: 300px;
    height: 300px;
    background-color: rgb(207, 160, 229);
    border-radius: 20xp 20px 20px 20px;
    border: blueviolet 2px dotted;
    box-shadow: 13px 12px rgb(156, 150, 150);
}

.cartinca3 {
    width: 300px;
    height: 300px;
    background-color: rgb(207, 160, 229);
    border-radius: 20xp 20px 20px 20px;
    border: blueviolet 2px dotted;
    box-shadow: 13px 12px rgb(156, 150, 150);
}

.cartinca4 {
    width: 300px;
    height: 300px;
    background-color: rgb(207, 160, 229);
    border-radius: 20xp 20px 20px 20px;
    border: blueviolet 2px dotted;
    box-shadow: 13px 12px rgb(156, 150, 150);
}

.cartinca5 {
    width: 300px;
    height: 300px;
    background-color: rgb(207, 160, 229);
    border-radius: 20xp 20px 20px 20px;
    border: blueviolet 2px dotted;
    box-shadow: 13px 12px rgb(156, 150, 150);
}