  body {
      background: url(https://www.study.ru/uploads/server/1twnByUGodoxiMvB.jpg);
  }
  
  h1 {
      font-size: 70px;
      color: rgba(95, 226, 213, 0.747);
      font-family: Arial Rounded MT Bold
  }
  
  h2 {
      color: rgb(214, 198, 236);
      font-size: 30px;
  }
  
  li {
      color: rgb(219, 193, 243);
      font-size: 14px;
  }
  
  a {
      font-size: 30px;
      text-decoration: chocolate;
  }
  
  img {
      margin: auto;
      display: block;
      border-radius: 100px;
      border: 3px solid #00a8e1;
  }
  
  body {
      color: purple;
      font-family: Georgia, "Franklin Gothic Heavy";
  }
  
  .block1 {
      width: 200px;
      background: rgba(157, 97, 226, 0.842);
      padding: 5px;
      padding-right: 20px;
      border: solid 1px black;
      float: left;
  }
  
  .block2 {
      width: 200px;
      background: rgb(199, 170, 52);
      padding: 5px;
      border: solid 1px black;
      float: left;
      position: relative;
      top: 40px;
      left: -30px;
  }
  
  .block3 {
      width: 1670px;
      background: rgb(248, 212, 67);
      padding: 5px;
      border: solid 1px black;
      float: left;
      position: relative;
      top: 40px;
      left: -30px;
  }
  
  h3 {
      color: blanchedalmond;
  }