* {
    box-sizing: border-box;
}

body {
    background-color: #fcdfea;
}

.postcard {
    max-width: 350px;
    margin: 50px auto 0;
    padding: 50px;
    background-image: linear-gradient(to bottom right, #6D678E, #F6B5CC);
    border: 10px solid transparent;
    color: #ffffff;
    border-radius: 25px;
}

.form-row {
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    font-family: Impact, fantasy;
}

.fab {
    font-size: 100px;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"],
.form-row textarea {
    width: 100%;
    padding: 10px;
    line-height: 35px;
    border-width: 1px;
    outline: none;
    border-radius: 25px;
    border: #ffffff 2px;
}

.submit-button {
    left: 890px;
    position: absolute;
}

.fa {
    font-size: 40px;
    position: absolute;
    top: 20%;
    z-index: 2;
}

a {
    text-decoration: none;
    top: 12px;
    position: relative;
    left: 34px;
    color: rgb(11, 11, 117);
    font-size: 19px;
}