body {
    background-color: rgb(254, 254, 255);
}

.mam {
    position: relative;
    justify-content: space-around;
    background-color: rgba(249, 255, 255, 0.342);
    width: 1280px;
    height: 700px;
    left: 300px;
    top: 115px;
}

.blu {
    position: relative;
    width: 1169px;
    background-color: #1601f8;
    height: 216px;
    left: 61px;
    top: 24px;
}

.grin {
    position: relative;
    width: 950px;
    background-color: #62eb39;
    height: 425px;
    left: 279px;
    top: 35px;
}

.rad {
    position: relative;
    width: 200px;
    background-color: #a92b2e;
    height: 424px;
    left: 61px;
    top: -389px;
}