div {
    margin: 10px;
    border: 1px solid black;
    font-size: 20px;
    height: 80px;
}

#header {
    background-color: rgb(221, 215, 131);
}

#sidebar {
    background-color: rgb(223, 159, 159);
    float: right;
    width: 150px;
}

#main {
    background-color: #97d3b0;
    height: 200px;
    margin-right: 170px;
}

#menu {
    background-color: rgb(218, 168, 223);
}

#content {
    background-color: rgb(223, 213, 162);
}

#footer {
    background-color: rgb(154, 162, 207);
}